<div class="row head-row">
<header>
	<input type="checkbox" id="btn-menu">
	<label for="btn-menu" class="icon-menu"></label>
	<nav class="menu">
		<ul>
			<li><a href="#">Item I</a></li>
			<li class="submenu"><a href="#">Item II<span class="down-open"></span></a>
				<ul>
					<li><a href="#">Sub Item 1</a></li>
					<li><a href="#">Sub Item 2</a></li>
					<li><a href="#">Sub Item 3</a></li>
					<li><a href="#">Sub Item 4</a></li>
				</ul>
			</li>
			<li class="submenu"><a href="#">Item III<span class="down-open"></span></a>
				<ul>
					<li><a href="#">Sub Item 1</a></li>
					<li><a href="#">Sub Item 2</a></li>
					<li><a href="#">Sub Item 3</a></li>
					<li><a href="#">Sub Item 4</a></li>
				</ul>
			</li>
			<li><a href="#">Item IV</a></li>
			<li><a href="#">Item V</a></li>
		</ul>
	</nav>
</header>
</div>
