<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="{{site.baseurl}}/">Inicio</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">Análisis</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">Artículos</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">Seguimiento ↓</a>
                <div class="dropdown-content">
                  <a href="#">Artículo 1</a>
                  <a href="#">Artículo 2</a>
                  <a href="#">Artículo 3</a>
                </div>
              </li>
            <li class="link"><a href="{{site.baseurl}}/contact/">Ofertas</a></li>
            </ul>
    </nav>
</div>
 
